include MANIFEST.in
include spike/ext/__init__.py
include Makefile
include *.h *.c *.y *.l
recursive-include rtl *.h *.c *.s *.spk
recursive-include examples *.spk *.in *.out *.err
recursive-include tests *.spk *.in *.out *.err
include COPYING
